version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: monthly
      timezone: America/Toronto
    commit-message:
      prefix: '⬆️ '
    groups:
      patch:
        update-types:
          - patch
      minor-development:
        update-types:
          - minor
        dependency-type: development
      minor-production:
        update-types:
          - minor
        dependency-type: production
      eslint:
        patterns:
          - '*eslint*'
          - globals
          - jiti
      tailwindcss:
        patterns:
          - '*heroicons*'
          - '*tailwindcss*'
          - autoprefixer
          - postcss
      prettier:
        patterns:
          - '*prettier*'
      svelte:
        patterns:
          - '*svelte*'
      vite:
        patterns:
          - '*vitejs*'
          - vite
      typescript:
        patterns:
          - '*typescript*'
          - tslib
      capacitor:
        patterns:
          - '*capacitor*'

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
      timezone: America/Toronto
    commit-message:
      prefix: '⬆️ '
    groups:
      actions:
        patterns:
          - actions/*
      docker:
        patterns:
          - docker/*

  - package-ecosystem: docker
    directory: /
    schedule:
      interval: monthly
      timezone: America/Toronto
    commit-message:
      prefix: '⬆️ '
