.DS_Store
.editorconfig
.env
.env.*
.eslintignore
.eslintrc.cjs
.git
.github
.gitignore
.markdownlint.yaml
.prettierignore
.prettierrc.yaml
.svelte-kit
.vscode
*.md
*.sig
*.tgz
*.tsbuildinfo
/android
/build
/coverage
/dist
/examples
/node_modules
/package
/playwright-report
/resources
/svg
/test-results
/tests
capacitor.config.json
ionic.config.json
playwright.config.ts
tsconfig.*.json
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
