.DS_Store
.editorconfig
.env
.env.*
.eslintignore
.eslintrc.cjs
.git
.github
.gitignore
.markdownlint.yaml
.prettierignore
.prettierrc.yaml
.svelte-kit
.vscode
*.md
/android
/build
/dist
/examples
/node_modules
/package
/resources
/svg
/tests
capacitor.config.json
ionic.config.json
playwright.config.ts
tsconfig.*.json
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
