.DS_Store
node_modules
/build
/.svelte-kit
/package
.env.*.local
.env.local
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/dist
/coverage
*.tsbuildinfo
/test-results
/playwright-report

# Example data
/examples/my_user.json

# Bun
bun.lockb
