name: Node.js Publish

on:
  push:
    tags: v*

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write
      packages: write

    if: github.actor != 'nektos/act'

    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - uses: actions/setup-node@v6
        with:
          cache: pnpm
          node-version: 23
      - run: pnpm install

      - uses: actions/setup-node@v6
        with:
          registry-url: https://npm.pkg.github.com
          scope: '@natoboram'
      - run: pnpm publish --access public --no-git-checks --provenance
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-node@v6
        with:
          registry-url: https://registry.npmjs.org
          scope: '@natoboram'
      - run: pnpm publish --access public --no-git-checks --provenance
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}

      - run: pnpm pack --pack-gzip-level 9
      - run: gh release upload ${{ github.ref_name }} natoboram-leanish-*.tgz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
